<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QiyuServers</display-name>
  <servlet>
    <servlet-name>CourseAllItemServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CourseAllItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAllItemServlet</servlet-name>
    <url-pattern>/servlet/CourseAllItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseKindItemServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CourseKindItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseKindItemServlet</servlet-name>
    <url-pattern>/servlet/CourseKindItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseSearchItemServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CourseSearchItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSearchItemServlet</servlet-name>
    <url-pattern>/servlet/CourseSearchItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseMainInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CourseMainInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseMainInfoServlet</servlet-name>
    <url-pattern>/servlet/CourseMainInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.LoginUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserInfoServlet</servlet-name>
    <url-pattern>/servlet/LoginUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisteredServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.RegisteredServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredServlet</servlet-name>
    <url-pattern>/servlet/RegisteredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCheckBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.SaveCheckBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCheckBossInfoServlet</servlet-name>
    <url-pattern>/servlet/SaveCheckBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBossInfoServlet</servlet-name>
    <url-pattern>/servlet/GetBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBossCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetBossCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBossCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/GetBossCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBossCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.AddBossCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBossCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/AddBossCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCheckBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetCheckBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheckBossInfoServlet</servlet-name>
    <url-pattern>/servlet/GetCheckBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefuseBossApplicationServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.RefuseBossApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseBossApplicationServlet</servlet-name>
    <url-pattern>/servlet/RefuseBossApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PassBossApplicationServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.PassBossApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassBossApplicationServlet</servlet-name>
    <url-pattern>/servlet/PassBossApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHeadUrlListServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetHeadUrlListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHeadUrlListServlet</servlet-name>
    <url-pattern>/servlet/GetHeadUrlListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.EditUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <url-pattern>/servlet/EditUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.EditBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBossInfoServlet</servlet-name>
    <url-pattern>/servlet/EditBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBossCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.EditBossCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBossCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/EditBossCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplicationAliPayServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.ApplicationAliPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationAliPayServlet</servlet-name>
    <url-pattern>/servlet/ApplicationAliPayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHistoryIndentServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetHistoryIndentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHistoryIndentServlet</servlet-name>
    <url-pattern>/servlet/GetHistoryIndentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateIndentServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CreateIndentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateIndentServlet</servlet-name>
    <url-pattern>/servlet/CreateIndentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIndentInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetIndentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndentInfoServlet</servlet-name>
    <url-pattern>/servlet/GetIndentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaySuccessChangeTypeServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.PaySuccessChangeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaySuccessChangeTypeServlet</servlet-name>
    <url-pattern>/servlet/PaySuccessChangeTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancleIndentServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.CancleIndentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancleIndentServlet</servlet-name>
    <url-pattern>/servlet/CancleIndentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBossIndentServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetBossIndentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBossIndentServlet</servlet-name>
    <url-pattern>/servlet/GetBossIndentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleSuccessChangeTypeServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.HandleSuccessChangeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleSuccessChangeTypeServlet</servlet-name>
    <url-pattern>/servlet/HandleSuccessChangeTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetAllUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserInfoServlet</servlet-name>
    <url-pattern>/servlet/GetAllUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetAllBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBossInfoServlet</servlet-name>
    <url-pattern>/servlet/GetAllBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetAllCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/GetAllCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllIndentInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetAllIndentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllIndentInfoServlet</servlet-name>
    <url-pattern>/servlet/GetAllIndentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/servlet/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.DeleteUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <url-pattern>/servlet/DeleteUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.ChangeUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserInfoServlet</servlet-name>
    <url-pattern>/servlet/ChangeUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOneBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetOneBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneBossInfoServlet</servlet-name>
    <url-pattern>/servlet/GetOneBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.DeleteBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBossInfoServlet</servlet-name>
    <url-pattern>/servlet/DeleteBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeBossInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.ChangeBossInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeBossInfoServlet</servlet-name>
    <url-pattern>/servlet/ChangeBossInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/GetCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.DeleteCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/DeleteCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeCourseInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.ChangeCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeCourseInfoServlet</servlet-name>
    <url-pattern>/servlet/ChangeCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetOneIndentInfoServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetOneIndentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOneIndentInfoServlet</servlet-name>
    <url-pattern>/servlet/GetOneIndentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHistoryBrowseServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetHistoryBrowseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHistoryBrowseServlet</servlet-name>
    <url-pattern>/servlet/GetHistoryBrowseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveFeedBackServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.SaveFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveFeedBackServlet</servlet-name>
    <url-pattern>/servlet/SaveFeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetFeedBackTextServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetFeedBackTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFeedBackTextServlet</servlet-name>
    <url-pattern>/servlet/GetFeedBackTextServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GetServiceApkVersionServlet</servlet-name>
    <servlet-class>com.xuhao.serverlet.GetServiceApkVersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServiceApkVersionServlet</servlet-name>
    <url-pattern>/servlet/GetServiceApkVersionServlet</url-pattern>
  </servlet-mapping>
</web-app>